:root{
    --primarycolor:#0f2f44;
    --sacondarycolor:#ffc712;
    --primaryfont:'Ubuntu', sans-serif;
    --sacondaryfont:'Abril Fatface', serif;
    --thirdfont:'Open Sans', sans-serif;

}


body{
    font-family: var(--primaryfont);
}







*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

ul,ol{
    list-style-type: none;
}

a{
    text-decoration:none ;
}

/* header start */
header{
    background-color:var(--primarycolor) ;
    color: white;
}

.container{
    width: 1170px;
    margin:auto ;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

header .row{
    justify-content: space-between;


}

.algin-center{
    align-items: center;
}


header .row span{
    padding: 19px 0;
    line-height: 0;

}
/* header end */


/* nev ber start */

nav .row{
    align-items: center;
    justify-content: space-between;
}

nav .row ul li{
    display: inline-block;
    padding: 19px 19.5px;
    transition: 0.5s;
    cursor: pointer;
   
}


nav .row ul li a{
    font-size: 16px;
}

nav .row ul li:hover{
    background-color:var(--sacondarycolor);


}

nav .row ul li:hover a{
    color: #fff;
}
/* nev ber end */
/* banner start */

#banner{
    background-image: url(../images/2.png);
    height: 601px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#banner .row{
    align-items: center;
    height: 601px;
    width: 470px;
}

#banner .row .contains h1{
    font-size: 70px;
    color: #0f2f44;
    font-family: var(--sacondaryfont);
}

#banner .row .contains h4{
    font-size: 20px;
    color: #8484bf;
    
}

#banner .row .btn{
    display: flex;
    align-items: center;
}

#banner .row .btn a{
    height: 46px;
    width: 163px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    line-height: 46px;
    background-color: #8484bf;
}
/* banner end */

/* about ber start */
#about{
    margin-top: 100px;
    width: 100%;

}

#about .container{
    width: 1176px;
}



#about .container .row .cnt span{
   font-size: 14px;
}

#about .container .row .cnt h3{
    
    font-size: 32px;
    font-weight: 400;
    font-family: var(--sacondaryfont);
    font-size: 32px;
   
}



#about .container .row .cnt p{
    margin-top: 32px;
    
    
}
#about .container .row .cnt{
    width: 50%;
}

#about .container .row button{
    margin-top: 34px;
    padding: 16px 20px;
  
    
}

#about .container .row button:hover{
    background-color:var(--sacondarycolor) ;
    color: #fff;
    transition: 0.50s;
    margin: 0 10px;
    border-radius: 10px;
    font-weight: 500;
    box-shadow: 5px 8px 10px #e5e5e5bc;
   
}


/* about ber end end */


/* skill ber stert */
#skills .container {
   width: 1300px;
}

#skills .container .row .skillimg{
    width: 50%;
    margin-top: 150px;
}

#skills .container .row .skillcnt{
    width: 50%;
    margin-top: 150px;
   

}

#skills .container .row .skillcnt img{
    margin-top: 33px;
}

#skills img{
    margin-left: -100px;
}

#skills .container .row .skillcnt{
    text-align: right;
   
}

/* skill ber end */


/* service ber start */
#service  .row .card{
    display:flex ;
    width:calc(33.33% - 30px);
    align-items: center;
    background-color: #eeeeee;
    position: relative;
    cursor: pointer;
    margin: 0 15px;
    
    
}

#service .container .servicecnt h1{
    font-family: var(--sacondaryfont);
    font-size: 32px;
}

#service .row .card img{
    padding: 0 20px;
}

#service .row .card .cardcnt h4{
    padding: 28px 0 19px 0;
   
}

#service .row .card .cardcnt p{
    padding-bottom: 34px;
}

#service .row .card .overlay{
    color: #fff;
    background-color: #0f2f44;
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#service .row .card .overlay .direction-icon{
    position: absolute;
    bottom: -16px;
    left: 0;
    transition-delay: 1s;
    transition: 0.5s;
}

#service .row .card:hover .overlay{
    visibility: visible;
    opacity: 1;
}

#service .row .card:hover .direction-icon{
    left: 50%;
    transform: translateX(-50%);
}

#service .row .card .overlay p{
    margin-top: 15px;
}
/* service ber end */

/* portfolio ber start */

#portfolio .container .portfoliocnt p{
    margin-top: 100px;
}

#portfolio .container .portfoliocnt h1{
    font-family: var(--sacondaryfont);
    font-size: 32px;
}

#portfolio .row .portfolioimg{
    margin-top: 60px;
    width:calc(33.33% - 60px);
    margin: 0 30px;
    position: relative;
}

#portfolio .row .portfolioimg img{
    width: 100%;
    display: block;
}

#portfolio .row .portfolioimg .overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
    transform: scaleY(0);
    transition: 0.5s;
    transform-origin: bottom;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    color: var(--primarycolor);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#portfolio .row .portfolioimg:hover .overlay{
    transform: scaleY(1);
}

#portfolio .container a{
    text-align: center;
    background-color:var(--sacondarycolor);
    
    padding: 15px 20px;
    border-radius: 5px;

}



/* portfolio ber end */

/* testimonial ber start*/
#testimonial .container{
    width: 1175px;
}

#testimonial .container .testimonialcnt h1{
    font-family: var(--sacondaryfont);
    font-size: 32px;
}

#testimonial  .row .imgcnt1{
    width: 45%;
    display: flex;
    align-items: center;
    background-color:#e9e9e9;
    
  
}

#testimonial .container .row .imgcnt1{
    margin-top: 60px;
    margin: 0 15px;
}

#testimonial .container .row .imgcontains1{
    margin-left: 20px;
}

#testimonial .container .row .imgcontains1 H4{
    margin-top: 35PX;
}

/* testimonial ber end */

/* blog ber sart */
#blog .container .blogcnt h1{
    font-family: var(--sacondaryfont);
    font-size: 32px;
}

#blog .row .blogimg{
    margin-top: 67px;
    width:calc(33.33% - 60px);
    margin: 0 30px;
    transition: 0.5s;

}

#blog .row .blogimg:hover{
    background-color:var(--primarycolor);
}

#blog .row .blogimg .blogcontains p{
    padding: 30px 0;
    color: #fff;
    margin-left: 20px;
}

#blog .row .blogimg .blogcontains span{
    color: #fff;
    margin-left: 20px;
}

/* blog ber end */

/* footer ber start */
footer{
    padding: 98px 0 68px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


footer .intro{
    width: 25%;
}

footer .intro p{
    font-family: var(--thirdfont);
    font-size: 14px;
    margin-top: 30px;
    margin-left: 40px;
}

footer .intro .icons a{
    margin-top: 30px;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius:35%;
    border: 1px solid var(--primarycolor);
    color: var(--primarycolor);
    line-height: 35px;
    text-align: center;
}

footer .intro .icons a:hover{
    background-color: var(--primarycolor);
    color: #fff;
}

footer .contact{
    width: 25%;
    margin-left: 20px;
}

footer .contact .iconimg{
    width:10%;
    margin-top: 40px;
}
footer .contact .text{
    width: 90%;
    margin-top: 40px;
}
footer .links{
    width: 15%;
    margin-left: 20px;
    
}
footer .links li{
    margin: 15px 0;
}
footer .links a{
    font-family: var(--thirdfont);
    color: var(--primarycolor);
    font-size: 14px;
    transition: 0.3s;
}

footer .links a:hover{
    padding-left: 20px;
    color: var(--primarycolor);
}

footer .flickr{
    width: 30%;
   

    
    
}



footer .flickr .flickrcard .row img{
    
    margin-top: 40px;
    margin-right: 5px;
    
    
    
}
/* footer ber end */























